<div class="card-set">

  <% @cards.each do |card| %>

    <div class="cards-card">

      <a href="<%= card_path(card) %>">

        <img src="<%= card.image_url %>" />

      </a>

    </div>

  <% end %>

</div>
