<div>

  <strong><%= k %>:</strong>

  <% if v.is_a? Hash %>

    <ul>

      <% v.each do |k, v| %>

        <%= render 'loop_hash', :k => k, :v => v %>

      <% end %>

    </ul>

  <% else %>

    <%= v %>

  <% end %>

</div>
