<ul>

  <% @GetOrders["item_array"]["item"].each do |item| %>

    <li>

      <ul>

        <% item.each do |k, v| %>

          <li>

            <%= k %>:

            <% if v.is_a? Hash %>

              <% v.each do |k, v| %>

                <%= "#{k}:#{v}" %>

              <% end %>

            <% else %>

          </li>

        <% end %>

      </ul>

    </li>

  <% end %>

</ul>
