<ul>

  <% @GetOrders["item_array"]["item"].each do |item| %>

    <li>

      <ul>

        <% item.each do |k, v| %>

          <li><%= k %>:<%= v %></li>

        <% end %>

      </ul>

    </li>

  <% end %>

</ul>
