<ul>

  <% @GetOrders["item_array"]["item"].each do |item| %>

    <li>

      <ul>

        <% item.each do |k, v| %>

          <li>

            <%= render 'loop_hash', :v => v, :k => k %>

          </li>

        <% end %>

      </ul>

    </li>

  <% end %>

</ul>
