
<h1>What cards are in the Welcome Deck 2016 set?</h1>

<section>

  <h2>Welcome Deck 2016</h2>

  <div class="card-set">

    <% @w16_cards.each do |card| %>

      <div class="cards-card">

        <a href="<%= card_path(card) %>">

          <img src="<%= card.image_url %>" />

        </a>

      </div>

    <% end %>

  </div>


</section>
