<%= render '/templates/search' %>

<div class="collection-total">

  <%= get_total(@users_cards) %>

</div>

<div class="messages"></div>

<div class="card-set">

  <% @cards.each do |card| %>

    <%= render 'dashboards/card', :card => card %>

  <% end %>

</div>

<%= will_paginate @cards %>
