
<% @the_cards.each do |card| %>

  <div class="cards-card">

    <a href="<%= card_path(card) %>">

      <img src="<%= card.image_url %>" />

    </a>

    <% if user_signed_in? %>

      <div>Add | <%= check_box_tag "deck[card_ids][]", card.id %></div>

    <% end %>

  </div>

<% end %>
