<div class="pcards">

  <% current_user.pcards.each do |pcard| %>

    <p>

      <strong>Cards in your personal collection:</strong>

      <%= pcard.card_id %> |

      <strong>Amount:</strong>

      <%= pcard.amount %> | <%= link_to 'Destroy Card', user_pcard_path(current_user, pcard), :method => :delete, :remote => true %>

    </p>

  <% end %>

</div>
