.admins-page {

}

  .admins-page-section {
    height: 75px;
    overflow: hidden;

    &.mod-standard {

      .admins-page-section-edit-item-attributes-attribute {
          flex: 0 0 25%;
      }

    }

    &.mod-colors {
    }

    &.mod-subtypes {
    }

    &.mod-mechanics {
    }

    &.mod-rarities {
    }

  }
    .admins-page-section-edit {
      justify-content: space-between;
      flex-wrap: wrap;
    }

      .admins-page-section-edit-item {
        border: 1px solid #f1f1f1;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        line-height: 67px;

        &:hover {
          background-color: #e4e4e4;
        }

      }

        .admins-page-section-edit-item-attributes {
        }

        .admins-page-section-edit-item-attributes-attribute {
          flex: 0 0 auto;

          &.mod-name {
            margin-left: 15px;
          }

          &.mod-photo {
            text-align: center;

            img {
              vertical-align: middle;
            }

          }

        }

      .admin-page-section-edit-item-controls {
        margin-right: 15px;
      }

.add-set-to-starndard-form, .edit_standard {
  display: inline-block;
}

.dashboards-page {
  .card-options {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .ebay-options{
    &.is-open {
      .ebay-options-panel {
        display: block;
      }
    }
  }

  .ebay-options-panel {
    display: none;
  }
}
