.admins-page {

}

  .admins-page-section {
    height: 75px;
    overflow: hidden;

    &.mod-colors {
      max-width: 900px;
    }

    &.mod-subtypes {

      .admins-page-section-edit-item {
        flex: 0 1 140px;
      }

    }

    &.mod-mechanics {

      .admins-page-section-edit-item {
        flex: 0 1 165px;
      }

    }

    &.mod-rarities {
      max-width: 400px;
    }


  }
    .admins-page-section-edit {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
