.admins-page {

}

  .admins-page-section {
    height: 75px;
    overflow: hidden;

    &.mod-colors {
      max-width: 900px;
    }

    &.mod-subtypes {

      .admins-page-section-edit-item {
        flex: 0 1 140px;
      }

    }

    &.mod-mechanics {

      .admins-page-section-edit-item {
        flex: 0 1 165px;
      }

    }

    &.mod-rarities {
      max-width: 400px;
    }


  }
    .admins-page-section-edit {
      justify-content: space-between;
      flex-wrap: wrap;
    }

      .admins-page-section-edit-item {
        border: 1px solid #f1f1f1;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        line-height: 67px;
      }

        .admins-page-section-edit-item-attributes {
        }

        .admins-page-section-edit-item-attributes-attribute {

          &.mod-name {
            flex: 0 0 240px;
            margin-left: 15px;
          }

          &.mod-photo {

            flex: 0 0 130px;
            text-align: center;

            img {
              vertical-align: middle;
            }

          }

        }

      .admin-page-section-edit-item-controls {
        margin-right: 15px;
      }
