/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* I dono why this was needed */
body{
  margin: 0px;
}

.body{
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}

header {
  background-image: url(/bg-header.png);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: all .3s ease .15s;
}

.header-nav {
  width: 90%;
  margin: 0 auto;
  min-height: 100px;
  line-height: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

  .header-nav-open {
    display: none;
    text-align: right;
  }

  .header-nav-open-image {
    width: 35px;
    vertical-align: middle;
   }

  .header-nav-home {
    display: flex;
    justify-content: space-between;
  }


  .header-nav-link {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
  }

    .header-nav-link-text {
      display: inline-block;
    }

    .header-nav-link-text-small {
      display: none;
    }

    .header-nav-link-image {
      vertical-align: middle;
      width: 35px;
    }

.scrolled .header-nav{
  height: 50px;
  line-height:50px;
  min-height:0;
}

.scrolled .header-nav-bar {
  height: 50px;
}

.arrow-left img, .arrow-right img{
  width: 55px;
  vertical-align: middle;
}

main {
  margin-top: 100px;
}

/* turn off pagination */
.pagination {
  display: none;
}

/* card pages */

.card-set {
  justify-content: space-between;
}


@media (max-width: 1450px) {

  .header-nav-link-text {
    display: none;
  }

  .header-nav-link-text-small {
    display: inline;
  }

}

@media (max-width: 650px) {
  header {
    background: #312f2f;
  }

  .header-nav-open {
    display: block;
  }

  .scrolled .header-nav{
    height: auto;
    line-height:50px;
  }

  .header-nav {
    min-height: 50px;
    line-height: 50px;
  }

  .header-nav div{
    flex: 1 0 100%;
    display: none;
  }

  .header-nav.is-open div{
    display: flex;
  }

  div.header-nav-home {
    display: flex;
  }

  .header-nav-bar{
    display: none;
  }

  .header-nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header-nav-link-text {
    display: inline-block;
  }

  .header-nav-link-text-small {
    display: none;
  }

  main {
    margin-top: 50px;
  }
}
