/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h1 {
  margin-top: 0px;
}

h2 {
  font-size: 1.7rem;
}

body{
  margin: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.2rem;
}

.body{
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}

header {
  background-image: url(/bg-header.png);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: all .3s ease .15s;
}

.header-nav {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100px;
  line-height: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

  .header-nav-open {
    display: none;
    text-align: right;
  }

  .header-nav-open-image {
    width: 35px;
    vertical-align: middle;
   }

  .header-nav-home {
    display: flex;
    justify-content: space-between;
  }


  .header-nav-link {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
  }

    .header-nav-link-text {
      display: inline-block;
    }

    .header-nav-link-text-small {
      display: none;
    }

    .header-nav-link-image {
      vertical-align: middle;
      width: 35px;
    }

.scrolled .header-nav{
  height: 50px;
  line-height:50px;
  min-height:0;
}

.scrolled .header-nav-bar {
  height: 50px;
}

.arrow-left img, .arrow-right img{
  width: 55px;
  vertical-align: middle;
}

main {
  margin-top: 100px;
}

/* sort by subtypes */
.subtype-heading {
  font-size: 1rem;
}

.search-input {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.search-colors {
  padding-top: 15px;
}

.search-subtypes {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
}

  .search-subtypes-subtype {
    flex: 0 1 200px;
    padding: 5px 0;
    font-size: 1rem;
  }

/* turn off pagination */
.pagination {
  display: none;
}

  /* Show Page */

  .card {
    display: flex;
    flex-wrap: wrap;
  }

    .card-info {
      display: flex;
      flex: 1 1 641px;
      flex-wrap: wrap;
    }

      .card-info-container {
        padding-left: 15px;
        display: flex;
        flex: 1 0;
        flex-wrap: wrap;
      }

      .card-info-name {
        width: 100%;
        margin: 0px;
      }

      .card-info-section {
        flex: 0 0 46%;
        padding-right: 15px;
        flex-shrink: 1;
      }

      .card-info-section.mod-rulings {
        flex: 1 0 100%;
      }

@media(max-width: 1600px) {

  .body{
    max-width: 90%;
  }

  .header-nav {
    max-width: 90%;
  }

}

@media (max-width: 1450px) {

  .header-nav-link-text {
    display: none;
  }

  .header-nav-link-text-small {
    display: inline;
  }

}

@media (max-width: 1089px) {
  .card-info-section {
    flex: 1 0 100%;
  }
}

@media (max-width: 993px) {

}

@media (max-width: 650px) {
  header {
    background: #312f2f;
  }

  .header-nav-open {
    display: block;
  }

  .scrolled .header-nav{
    height: auto;
    line-height:50px;
  }

  .header-nav {
    min-height: 50px;
    line-height: 50px;
  }

  .header-nav div{
    flex: 1 0 100%;
    display: none;
  }

  .header-nav.is-open div{
    display: flex;
  }

  div.header-nav-home {
    display: flex;
  }

  .header-nav-bar{
    display: none;
  }

  .header-nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header-nav-link-text {
    display: inline-block;
  }

  .header-nav-link-text-small {
    display: none;
  }

  main {
    margin-top: 50px;
  }

  .card-info {
  }

    .card-image-container {
      flex: 1 0 100%;
    }

      .card-image {
        width: 100%;
      }

    .card-info-container {
      padding: 0px;
      flex: 1 0 100%;
    }


}

@media (max-width: 480px) {
  .cards-card {
    width: 100%;
    margin: 0px;
  }

  .card-set .cards-card img {
    width: 100%;
  }

}
