// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// homepage what sets are in standard styles

.sets{
}

.sets-block {
  max-width: 420px;
}

.sets-block-set {
  display: flex;
  justify-content: space-between;
}
