// Place all the styles related to the ebay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.auctions {
  list-style: none;
  padding: 0;
  ul, li {
    list-style: none;
  }
}

.auctions-auction {
  border: 1px solid #c7c7c7;
  list-style: none;
  flex: 1 1 100%;
  padding: 0;
  &.is-active{
    .auctions-auction-item {
      display: block;
    }
  }
}
  .auctions-auction-item {
    padding: 10px;
    list-style: none;
    display: none;
  }

  .the-auctions-acution {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #c7c7c7;
    margin: 10px 0 20px;
    padding: 10px;
  }

    .the-auctions-acution-item {
      line-height: 80px;
    }




  .the-auctions-acution img {
    vertical-align: middle;
  }

  li.auctions-auction-item.mod-details {
    display: block;
  }
