// Place all the styles related to the ebay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auctions-auction {
  border: 1px solid #c7c7c7;
  margin: 10px 10px 20px;
  list-style: none;
}
  .auctions-auction-item {
    border-bottom: 1px solid #c7c7c7;
    padding: 10px;
    list-style: none;
  }
