// Place all the styles related to the Pcards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_pcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 220px;
}

.edit_pcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 220px;
}

.add-to-collection {
  display: flex;
  width: 100%;
  padding: 0 3px;
  justify-content: space-between;

  input {
    max-width: 102px;
  }
}

.pcard-amount {
  flex: 0 1 100%;
}
