<h1><%= @deck.name %></h1>

<div class="card-set">

  <% @cards.each do |card| %>

    <div class="cards-card">

      <a href="<%= card_path(card) %>">

        <img src="<%= card.image_url %>" />

        <p><%= card.name %></p>

      </a>

    </div>

  <% end %>

</div>
